* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  background-color: #8cc461;
}

.title {
  position: absolute;
  left: 45vh;
  top: 10vh;
  display: flex;
  border: white 2px solid;
  border-radius: 15px;
  width: 55vw;
  height: 18vh;
  padding-left: 1vw;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.name {
  font-size: 4vh;
  font-weight: 600;
  color: white;
}

.score {
  display: flex;
  position: absolute;
  right: 1vw;
  justify-content: center;
  width: 18vw;
  gap: 25px;
  text-align: center;
}

.computer_score,
.your_score {
  position: relative;
  top: 1vh;
  border: 2px solid white;
  background-color: white;
  border-radius: 15px;
  height: 15vh;
  width: 8vw;
  font-size: 18px;
  font-weight: 600;
  color: #656565;
  text-align: center;
}

.computer_score p,
.your_score p {
  position: absolute;
  left: 35%;
  background-color: transparent;
  color: black;
  font-weight: 600;
  font-size: 4vw;
}

.rules {
  position: absolute;
  right: 6vw;
  bottom: 20vh;
  width: 30vh;
  height: 45vh;
  border: 8px solid white;
  border-radius: 10px;
  background-color: #004429;
  padding: 2vh;
  padding-left: 40px;
  transition: 0.2s ease;
}

.rules h1 {
  text-align: center;
  background-color: #004429;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

.rules ul li p {
  font-size: 15px;
  color: white;
  background-color: #004429;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.rules ul li {
  color: yellow;
  background-color: #004429;
  list-style-type: square;
  font-size: 25px;
}

.cancel {
  position: absolute;
  top: -35px;
  right: -30px;
  background-color: white;
  height: 60px;
  width: 60px;
  border: 5px solid white;
  border-radius: 100%;
}

.cancel img {
  background-color: transparent;
}

.rls {
  position: absolute;
  bottom: 13vh;
  right: 5vw;
  width: 7vw;
  padding: 5px;
  border: 3px solid white;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  font-size: large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.rlsi{
  position: absolute;
  bottom: 13vh;
  right: 14vw;
  width: 7vw;
  padding: 5px;
  border: 3px solid white;
  border-radius: 11px;
  color: white;
  font-weight: 600;
  font-size: large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.play_again {
  position: absolute;
  bottom: 20%;
  left: 45%;
  width: 10vw;
  padding: 5px;
  border: 3px solid white;
  background-color: white;
  border-radius: 10px;
  color: #6b6b6b;
  font-weight: 600;
  font-size: large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.nxt {
  position: absolute;
  bottom: 13vh;
  right: 5vw;
  width: 7vw;
  padding: 5px;
  border: 3px solid white;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  font-size: large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.options {
  position: absolute;
  top: 40vh;
  left: 35vw;
}

.section1 {
  display: flex;
  gap: 10vw;
}

.options .section1 button img,
.options .section2 button img {
  height: 6vh;
  width: 4vw;
  background-color: transparent;
  border-radius: 100%;
}

.section2 {
  border-radius: 100%;
  position: relative;
  box-sizing: border-box;
  height: 15vh;
  width: 15vh;
  background-color: transparent;
  display: flex;
}

.pap {
  position: relative;
  top: 13vh;
  left: 9vw;
}

.Rock,
.Paper,
.Scissor {
  border-radius: 100%;
  height: 13vh;
  width: 7vw;
  font-size: 0px;
  background-color: white;
}

.Rock{
  border: 15px solid #0074B6;
}
.Paper{
  border: 15px solid #FFA943;
}
.Scissor{
  border: 15px solid #BD00FF;
}

.options .section2 .Scissor img{
  width: 40%;
  height: 50%;
}

.options .section2 .Rock img{
  width: 50%;
  height: 50%;
}
.options .section2 .Paper img{
  width: 50%;
  height: 50%;
}

.options img {
  width: 14vw;
  height: 1.5vh;
}

.lines {
  display: flex;
  width: 35vw;
  height: 13vh;
  border: 5px solid white;
  justify-content: space-around;
}

.Line1 {
  position: absolute;
  top: 21vh;
  transform: rotate(60deg);
}
.Line2 {
  position: absolute;
  top: 7vh;
  left: 5vw;
}
.Line3 {
  position: absolute;
  right: 0px;
  top: 21vh;
  transform: rotate(120deg);
}

.fonts h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-align: center;
  color: white;
}

.fonts h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-align: center;
  color: white;
}

.fonts {
  width: 100%;
  position: absolute;
  bottom: 30vh;
  text-align: center;
}

.stars{
  position: relative;
  top: 14vh;
  left: 35%;
  background-color: transparent;
}
.trpy {
  position: absolute;
  top: 25%;
  left: 44%;
  height: 200px;
}

.hands {
  position: absolute;
  box-sizing: border-box;
  height: 15vh;
  width: 60vw;
  background-color: transparent;
  display: flex;
  justify-content: space-around;
}

.hands img {
  height: 20vh;
  width: 20vh;
  padding: 2vh;
  background-color: transparent;
  border-radius: 100%;
}

.elipson{
  background-color: white;
  position: absolute;
  left: 50vh;
  top: 45vh;
  box-sizing: border-box;
  height: 15vh;
  width: 50vw;
  background-color: transparent;
  display: flex;
  justify-content: space-around;
}

.elipson img{
  background-color: transparent;
}

.img1{
  height: 230%;
}
.img2{
  height: 130%;
}
.img3{
  height: 150%;
}
.img4{
  height: 230%;
}
.img5{
  height: 130%;
}
.img6{
  height: 150%;
}

.elipson .img3{
  position: absolute;
  left: 8.5%;
  top: -10%;
}

.elipson .img2{
  position: absolute;
  left: 10%;
  top: 0.5%;
}
.elipson .img1{
  position: absolute;
  left: 2.5%;
  top: -70px;
}
.elipson .img6{
  position: absolute;
  right: 9%;
  top: -10%;
}

.elipson .img5{
  position: absolute;
  right: 10.5%;
  top: 0.5%;
}
.elipson .img4{
  position: absolute;
  right: 3%;
  top: -50%;
}

.elipson1 img, .elipson2 img{
  width: fit-content;
  align-items: center;
  justify-items: center;
}
.pick {
  position: absolute;
  left: 20%;
  top: 40%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  color: white;
  letter-spacing: 0.1em;
  box-sizing: border-box;
  background-color: transparent;
  height: 3vh;
  width: 60vw;
  display: flex;
  justify-content: space-around;
}
.pick span {
  background-color: transparent;
}
.winner {
  position: absolute;
  background-color: transparent;
  width: 10.5%;
  left: 44.5%;
  top: 48%;
  display: block;
  text-align: center;
}

.wn {
  font-size: 35px;
  font-weight: 700;
  background-color: transparent;
  letter-spacing: 0.1em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

.apc {
  font-size: 20px;
  font-weight: 700;
  background-color: transparent;
  letter-spacing: 0.1em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

.match .play_again {
  position: absolute;
  bottom: 38%;
  left: 45%;
}

button {
  cursor: pointer;
}

div.fadeOut {
  opacity: 0;
  pointer-events: none;
}

div.fadeIn {
  opacity: 1;
  pointer-events: all;
}

span.fadeOut{
  opacity: 0;
  pointer-events: none;
}

